@page "/Bookings/{id}/Summary"
@model BookingSummaryModel
@{
    ViewData["Title"] = Model.Title;
}

<section id="bookingSummary">
    <div class="container">
        <div class="col-md-10 mx-auto border rounded p-3">
            <h2 class="mb-3">Booking summary - ID #@Model.BookedDateModel.Id</h2>
            <p class="lead">You've booked offer: <strong>@Model.BookedDateModel.OfferTitle</strong></p>
            <hr>
            <p class="lead">Start date: @Model.BookedDateModel.StartDate.ToString("yyyy-MM-dd")</p>
            <p class="lead">End date: @Model.BookedDateModel.EndDate.ToString("yyyy-MM-dd")</p>
            <p class="lead">Total price: @Math.Round(Model.BookedDateModel.TotalPrice, 2) $</p>

            <div class="d-flex flex-row justify-content-around">
                <div class="col-md-8">
                    <form method="POST" class="mr-1">
                        <button asp-page-handler="AddToCart" asp-route-bookedDateId="@Model.BookedDateModel.Id"
                            type="submit" class="btn btn-outline-primary btn-block">Add
                            to cart</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <form method="POST" class="ml-1">
                        <button asp-page-handler="CancelBooking" asp-route-id="@Model.BookedDateModel.Id" type="submit"
                            class="btn btn-outline-danger btn-block">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>